body {
	background: darkgrey;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#map {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#next-box {
	top: 10px;
	left: 10px;
	color: grey;
	background: #F6F4CF;
}
#score-box {
	top: 10px;
	right: 10px;
	background: #CBCFF8;
	font-size: 120%;
}
#score-box > .score {
	color: green;
}
#next-box, #score-box, #game-select {
	z-index: 100;
	padding: 10px;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1);
}
#target-country {
	color: black;
	font-size: 120%;
}
#game-select {
	bottom: 10px;
	left: 10px;
	background: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
}
#game-select > * + * {
	margin-left: .25em;
}
body {
	/* The surface is the material on which the widgets rest. */
	--surface-background: white;
	--surface-color: black;
	--surface-border: #999;

	/* An expression is something like a button that's raised over the surface. */
	--expression-background: #fefefe;
	--expression-color: black;
	--expression-border: 1px solid #999;
	--expression-padding: 2px 6px 2px 6px;
	--expression-box-shadow: none;

	/* A depression is an expression that's pushed down. */
	--depression-background: #ccc;
	--depression-color: black;
	--depression-border: 1px solid #999;

	/* An impression is something like a text-box that's naturally lower within the surface. */
	--impression-background: #f5f5f5;
	--impression-color: black;
	--impression-border: 1px solid #999;
	--impression-padding: 4px;
	--impression-box-shadow: none;

	/* The color used to focus or highlight things */
	--accent-background: #4397e6;

	/* The default border-radius for all widgets */
	--base-border-radius: 0px;
}
button, select {
	height: 1.5rem;
	padding: 0px;
	margin: 0px;
}
button, input[type=submit], input[type=button], input[type=reset] {
	background: var(--expression-background);
	color: var(--expression-color);
	border: var(--expression-border);
	padding: var(--expression-padding);
	border-radius: var(--base-border-radius);
	box-shadow: var(--expression-box-shadow);
}
button:active, input[type=submit]:active, input[type=button]:active, input[type=reset]:active {
	background: var(--depression-background);
	color: var(--depression-color);
	border: var(--depression-border);
}
select {
	color: var(--impression-color);
	border: var(--impression-border);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	padding: var(--impression-padding);

	padding-right: 1.25em;
	appearance: none;
	position: relative;
	background-color: var(--impression-background);
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 1em .5em;
	background-position: right center;
	background-clip: border-box;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	border-radius: var(--base-border-radius);
	box-shadow: var(--impression-box-shadow);
}
